---
BasedOnStyle: LLVM
Language: Cpp

ColumnLimit: 120
IndentWidth: 4
AccessModifierOffset: -4

BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: Yes

CompactNamespaces: true

PointerAlignment: Left
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false

BinPackArguments: true
BinPackParameters: true

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma

SortIncludes: Never
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*>'
    Priority:        1
  - Regex:           '.*'
    Priority:        3

MaxEmptyLinesToKeep: 2
SpacesInCStyleCastParentheses: false

CommentPragmas:  '^ TODO:|^ FIXME:'
---
